body {
	color: #000;
}

h1 {
	text-align: center;
}

nav {
	text-align: right;
	font-size: 14px ;
	color: #FDFAF5;
	background: #000;
	padding: 1em;
}

nav a {
	color: #FDFAF5;
	padding: 25px;
	text-decoration: none;
}

#hero-image {
	background: url("https://s4.postimg.io/fhlg78uyz/swc2.png");
  	background-size: contain;
  	background-color: #000;
  	background-repeat: no-repeat;
  	background-position;
  	min-height: 600px;
  	display: block;
}