* {
	padding: 0;
	margin: 0;

body {
	font-family: "Muli", sans-serif;
	line-height: 1.5;
	color: #666;
	position: relative;
}

img {
	align: left;
	height: 2em;
}

nav {
	text-align: center;
	font-size: 14px ;
	color: #FDFAF5;
	background: #C9C2C1;
	padding: 20px;

	
}

nav a {
	color: #FDFAF5;
	padding: 25px 25px;
}