* {
	padding: 0;
	margin: 0;

body {
	color: #000
}

img {
	align: left;
}

Nav {
	text-align: center;
	font-size: 14px ;
	color: #FDFAF5;
	background: #C9C2C1;
	padding: 20px;

	
}

Nav a {
	color: #FDFAF5;
	padding: 25px 25px;
}