@import 'https://fonts.googleapis.com/css?family=Pirata+One';
@import 'https://fonts.googleapis.com/css?family=Jura';
@import 'https://fonts.googleapis.com/css?family=Michroma';

body {
  text-align: center;
 background-color: #000;
  font-family: Helvetica;
}

h1 {

	font-family: 'Pirata One', cursive;
	padding-top: 400px;
	font-size: 70px;
	letter-spacing: 5px;
	color: #fff;
	text-shadow: 3px 4px #000;

}

hr {

	width: 400px;
}

h2 {
	color: #00bff3;
	text-shadow: 2px 3px #000;

}

p {	

	font-family: 'Jura', sans-serif;
	line-height: 2em;
	font-size: 4em
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 3px #000;
}

ul {
	font-size: 20px;
	color: #fff;
	line-height: 200%;
	max-width: 300px;
	margin: 0 auto;
}

header {
	background: url("https://s4.postimg.io/fhlg78uyz/swc2.png");
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% center;
  min-height: 600px;
}

a {

	color: #ed1c24
}
