body {
  text-align: center;
 background-color: #000;
  font-family: Helvetica;
}

h1 {

	padding-top: 400px;
	font-size: 70px;
	color: #fff;
	text-shadow: 2px 3px #000;

}

hr {

	width: 400px;
}

h2 {
	color: #00bff3;
	text-shadow: 2px 3px #000;

}

p {	
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 3px #000;
}

ul {
	font-size: 20px;
	color: #fff;
	line-height: 200%;
	max-width: 300px;
	margin: 0 auto;
}

header {
	background: url("https://s4.postimg.io/fhlg78uyz/swc2.png");
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% center;
  min-height: 600px;
}

a {

	color: #f85302
}
